@keyframes rotate {
  0% {
    border-image: linear-gradient(0deg, #48005c, #8300e2, #a269ff) 1;
  }
  1% {
    border-image: linear-gradient(3.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  2% {
    border-image: linear-gradient(7.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  3% {
    border-image: linear-gradient(10.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  4% {
    border-image: linear-gradient(14.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  5% {
    border-image: linear-gradient(18deg, #48005c, #8300e2, #a269ff) 1;
  }
  6% {
    border-image: linear-gradient(21.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  7% {
    border-image: linear-gradient(25.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  8% {
    border-image: linear-gradient(28.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  9% {
    border-image: linear-gradient(32.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  10% {
    border-image: linear-gradient(36deg, #48005c, #8300e2, #a269ff) 1;
  }
  11% {
    border-image: linear-gradient(39.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  12% {
    border-image: linear-gradient(43.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  13% {
    border-image: linear-gradient(46.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  14% {
    border-image: linear-gradient(50.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  15% {
    border-image: linear-gradient(54deg, #48005c, #8300e2, #a269ff) 1;
  }
  16% {
    border-image: linear-gradient(57.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  17% {
    border-image: linear-gradient(61.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  18% {
    border-image: linear-gradient(64.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  19% {
    border-image: linear-gradient(68.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  20% {
    border-image: linear-gradient(72deg, #48005c, #8300e2, #a269ff) 1;
  }
  21% {
    border-image: linear-gradient(75.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  22% {
    border-image: linear-gradient(79.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  23% {
    border-image: linear-gradient(82.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  24% {
    border-image: linear-gradient(86.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  25% {
    border-image: linear-gradient(90deg, #48005c, #8300e2, #a269ff) 1;
  }
  26% {
    border-image: linear-gradient(93.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  27% {
    border-image: linear-gradient(97.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  28% {
    border-image: linear-gradient(100.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  29% {
    border-image: linear-gradient(104.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  30% {
    border-image: linear-gradient(108deg, #48005c, #8300e2, #a269ff) 1;
  }
  31% {
    border-image: linear-gradient(111.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  32% {
    border-image: linear-gradient(115.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  33% {
    border-image: linear-gradient(118.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  34% {
    border-image: linear-gradient(122.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  35% {
    border-image: linear-gradient(126deg, #48005c, #8300e2, #a269ff) 1;
  }
  36% {
    border-image: linear-gradient(129.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  37% {
    border-image: linear-gradient(133.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  38% {
    border-image: linear-gradient(136.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  39% {
    border-image: linear-gradient(140.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  40% {
    border-image: linear-gradient(144deg, #48005c, #8300e2, #a269ff) 1;
  }
  41% {
    border-image: linear-gradient(147.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  42% {
    border-image: linear-gradient(151.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  43% {
    border-image: linear-gradient(154.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  44% {
    border-image: linear-gradient(158.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  45% {
    border-image: linear-gradient(162deg, #48005c, #8300e2, #a269ff) 1;
  }
  46% {
    border-image: linear-gradient(165.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  47% {
    border-image: linear-gradient(169.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  48% {
    border-image: linear-gradient(172.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  49% {
    border-image: linear-gradient(176.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  50% {
    border-image: linear-gradient(180deg, #48005c, #8300e2, #a269ff) 1;
  }
  51% {
    border-image: linear-gradient(183.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  52% {
    border-image: linear-gradient(187.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  53% {
    border-image: linear-gradient(190.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  54% {
    border-image: linear-gradient(194.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  55% {
    border-image: linear-gradient(198deg, #48005c, #8300e2, #a269ff) 1;
  }
  56% {
    border-image: linear-gradient(201.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  57% {
    border-image: linear-gradient(205.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  58% {
    border-image: linear-gradient(208.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  59% {
    border-image: linear-gradient(212.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  60% {
    border-image: linear-gradient(216deg, #48005c, #8300e2, #a269ff) 1;
  }
  61% {
    border-image: linear-gradient(219.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  62% {
    border-image: linear-gradient(223.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  63% {
    border-image: linear-gradient(226.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  64% {
    border-image: linear-gradient(230.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  65% {
    border-image: linear-gradient(234deg, #48005c, #8300e2, #a269ff) 1;
  }
  66% {
    border-image: linear-gradient(237.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  67% {
    border-image: linear-gradient(241.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  68% {
    border-image: linear-gradient(244.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  69% {
    border-image: linear-gradient(248.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  70% {
    border-image: linear-gradient(252deg, #48005c, #8300e2, #a269ff) 1;
  }
  71% {
    border-image: linear-gradient(255.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  72% {
    border-image: linear-gradient(259.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  73% {
    border-image: linear-gradient(262.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  74% {
    border-image: linear-gradient(266.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  75% {
    border-image: linear-gradient(270deg, #48005c, #8300e2, #a269ff) 1;
  }
  76% {
    border-image: linear-gradient(273.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  77% {
    border-image: linear-gradient(277.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  78% {
    border-image: linear-gradient(280.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  79% {
    border-image: linear-gradient(284.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  80% {
    border-image: linear-gradient(288deg, #48005c, #8300e2, #a269ff) 1;
  }
  81% {
    border-image: linear-gradient(291.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  82% {
    border-image: linear-gradient(295.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  83% {
    border-image: linear-gradient(298.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  84% {
    border-image: linear-gradient(302.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  85% {
    border-image: linear-gradient(306deg, #48005c, #8300e2, #a269ff) 1;
  }
  86% {
    border-image: linear-gradient(309.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  87% {
    border-image: linear-gradient(313.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  88% {
    border-image: linear-gradient(316.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  89% {
    border-image: linear-gradient(320.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  90% {
    border-image: linear-gradient(324deg, #48005c, #8300e2, #a269ff) 1;
  }
  91% {
    border-image: linear-gradient(327.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  92% {
    border-image: linear-gradient(331.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  93% {
    border-image: linear-gradient(334.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  94% {
    border-image: linear-gradient(338.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  95% {
    border-image: linear-gradient(342deg, #48005c, #8300e2, #a269ff) 1;
  }
  96% {
    border-image: linear-gradient(345.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  97% {
    border-image: linear-gradient(349.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  98% {
    border-image: linear-gradient(352.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  99% {
    border-image: linear-gradient(356.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  100% {
    border-image: linear-gradient(360deg, #48005c, #8300e2, #a269ff) 1;
  }
}
@-moz-keyframes rotate {
  0% {
    border-image: linear-gradient(0deg, #48005c, #8300e2, #a269ff) 1;
  }
  1% {
    border-image: linear-gradient(3.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  2% {
    border-image: linear-gradient(7.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  3% {
    border-image: linear-gradient(10.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  4% {
    border-image: linear-gradient(14.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  5% {
    border-image: linear-gradient(18deg, #48005c, #8300e2, #a269ff) 1;
  }
  6% {
    border-image: linear-gradient(21.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  7% {
    border-image: linear-gradient(25.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  8% {
    border-image: linear-gradient(28.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  9% {
    border-image: linear-gradient(32.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  10% {
    border-image: linear-gradient(36deg, #48005c, #8300e2, #a269ff) 1;
  }
  11% {
    border-image: linear-gradient(39.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  12% {
    border-image: linear-gradient(43.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  13% {
    border-image: linear-gradient(46.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  14% {
    border-image: linear-gradient(50.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  15% {
    border-image: linear-gradient(54deg, #48005c, #8300e2, #a269ff) 1;
  }
  16% {
    border-image: linear-gradient(57.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  17% {
    border-image: linear-gradient(61.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  18% {
    border-image: linear-gradient(64.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  19% {
    border-image: linear-gradient(68.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  20% {
    border-image: linear-gradient(72deg, #48005c, #8300e2, #a269ff) 1;
  }
  21% {
    border-image: linear-gradient(75.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  22% {
    border-image: linear-gradient(79.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  23% {
    border-image: linear-gradient(82.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  24% {
    border-image: linear-gradient(86.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  25% {
    border-image: linear-gradient(90deg, #48005c, #8300e2, #a269ff) 1;
  }
  26% {
    border-image: linear-gradient(93.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  27% {
    border-image: linear-gradient(97.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  28% {
    border-image: linear-gradient(100.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  29% {
    border-image: linear-gradient(104.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  30% {
    border-image: linear-gradient(108deg, #48005c, #8300e2, #a269ff) 1;
  }
  31% {
    border-image: linear-gradient(111.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  32% {
    border-image: linear-gradient(115.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  33% {
    border-image: linear-gradient(118.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  34% {
    border-image: linear-gradient(122.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  35% {
    border-image: linear-gradient(126deg, #48005c, #8300e2, #a269ff) 1;
  }
  36% {
    border-image: linear-gradient(129.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  37% {
    border-image: linear-gradient(133.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  38% {
    border-image: linear-gradient(136.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  39% {
    border-image: linear-gradient(140.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  40% {
    border-image: linear-gradient(144deg, #48005c, #8300e2, #a269ff) 1;
  }
  41% {
    border-image: linear-gradient(147.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  42% {
    border-image: linear-gradient(151.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  43% {
    border-image: linear-gradient(154.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  44% {
    border-image: linear-gradient(158.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  45% {
    border-image: linear-gradient(162deg, #48005c, #8300e2, #a269ff) 1;
  }
  46% {
    border-image: linear-gradient(165.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  47% {
    border-image: linear-gradient(169.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  48% {
    border-image: linear-gradient(172.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  49% {
    border-image: linear-gradient(176.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  50% {
    border-image: linear-gradient(180deg, #48005c, #8300e2, #a269ff) 1;
  }
  51% {
    border-image: linear-gradient(183.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  52% {
    border-image: linear-gradient(187.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  53% {
    border-image: linear-gradient(190.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  54% {
    border-image: linear-gradient(194.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  55% {
    border-image: linear-gradient(198deg, #48005c, #8300e2, #a269ff) 1;
  }
  56% {
    border-image: linear-gradient(201.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  57% {
    border-image: linear-gradient(205.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  58% {
    border-image: linear-gradient(208.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  59% {
    border-image: linear-gradient(212.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  60% {
    border-image: linear-gradient(216deg, #48005c, #8300e2, #a269ff) 1;
  }
  61% {
    border-image: linear-gradient(219.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  62% {
    border-image: linear-gradient(223.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  63% {
    border-image: linear-gradient(226.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  64% {
    border-image: linear-gradient(230.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  65% {
    border-image: linear-gradient(234deg, #48005c, #8300e2, #a269ff) 1;
  }
  66% {
    border-image: linear-gradient(237.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  67% {
    border-image: linear-gradient(241.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  68% {
    border-image: linear-gradient(244.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  69% {
    border-image: linear-gradient(248.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  70% {
    border-image: linear-gradient(252deg, #48005c, #8300e2, #a269ff) 1;
  }
  71% {
    border-image: linear-gradient(255.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  72% {
    border-image: linear-gradient(259.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  73% {
    border-image: linear-gradient(262.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  74% {
    border-image: linear-gradient(266.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  75% {
    border-image: linear-gradient(270deg, #48005c, #8300e2, #a269ff) 1;
  }
  76% {
    border-image: linear-gradient(273.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  77% {
    border-image: linear-gradient(277.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  78% {
    border-image: linear-gradient(280.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  79% {
    border-image: linear-gradient(284.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  80% {
    border-image: linear-gradient(288deg, #48005c, #8300e2, #a269ff) 1;
  }
  81% {
    border-image: linear-gradient(291.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  82% {
    border-image: linear-gradient(295.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  83% {
    border-image: linear-gradient(298.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  84% {
    border-image: linear-gradient(302.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  85% {
    border-image: linear-gradient(306deg, #48005c, #8300e2, #a269ff) 1;
  }
  86% {
    border-image: linear-gradient(309.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  87% {
    border-image: linear-gradient(313.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  88% {
    border-image: linear-gradient(316.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  89% {
    border-image: linear-gradient(320.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  90% {
    border-image: linear-gradient(324deg, #48005c, #8300e2, #a269ff) 1;
  }
  91% {
    border-image: linear-gradient(327.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  92% {
    border-image: linear-gradient(331.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  93% {
    border-image: linear-gradient(334.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  94% {
    border-image: linear-gradient(338.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  95% {
    border-image: linear-gradient(342deg, #48005c, #8300e2, #a269ff) 1;
  }
  96% {
    border-image: linear-gradient(345.6deg, #48005c, #8300e2, #a269ff) 1;
  }
  97% {
    border-image: linear-gradient(349.2deg, #48005c, #8300e2, #a269ff) 1;
  }
  98% {
    border-image: linear-gradient(352.8deg, #48005c, #8300e2, #a269ff) 1;
  }
  99% {
    border-image: linear-gradient(356.4deg, #48005c, #8300e2, #a269ff) 1;
  }
  100% {
    border-image: linear-gradient(360deg, #48005c, #8300e2, #a269ff) 1;
  }
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--text-1);
}

:where(input, textarea, select) {
  background-color: var(--surface-1);
}

:where(input, button, textarea, select):is(:hover, :focus-visible):not([disabled]) {
  --_border: currentColor !important;
}

:where(input, button, textarea, select).slim {
  padding-block: 0.45ch;
  padding-inline: 1ch;
}

hr {
  margin-block: 5px;
  height: var(--border-size-1);
}
hr.transparent {
  background: rgba(255, 255, 255, 0.43);
}

.form-container {
  display: flex;
  flex-direction: column;
}
.form-container.row {
  flex-direction: row;
}

.sidebar-container {
  background: var(--surface-1);
  width: 14em;
  padding: 1em;
  flex-shrink: 0;
}
.sidebar-container > .sidebar-item {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}
.sidebar-container > .sidebar-item.library {
  font-size: var(--font-size-3);
}
.sidebar-container > .sidebar-item.active {
  color: var(--brand);
}

.person-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  position: relative;
  max-height: 100%;
}

.external-person-search-popup > .external-person-search-container {
  overflow-y: auto;
}
.external-person-search-popup > .external-person-search-container > h2 {
  margin-bottom: 0.5em;
}
.external-person-search-popup > .external-person-search-container > .person-search-items {
  max-height: 25em;
  overflow-y: auto;
  background-color: var(--surface-1);
  margin-right: 10px;
}
.external-person-search-popup > .external-person-search-container > .person-search-items > .person-search-item {
  display: flex;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.external-person-search-popup > .external-person-search-container > .person-search-items > .person-search-item > img {
  height: 8em;
}

.person-container {
  display: flex;
  flex-direction: column;
  transition: border 0.25s;
  padding: 0.5em;
  width: 10em;
  cursor: pointer;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid transparent;
  margin-block: unset;
  margin-inline: unset;
  padding-block: unset;
  padding-inline: unset;
}
.person-container:hover {
  border-color: var(--brand);
}
.person-container:hover > .photo > .bottom-left,
.person-container:hover > .photo > .bottom-right {
  display: block;
}
.person-container > .photo {
  position: relative;
  overflow: hidden;
  width: 9em;
  height: 9em;
}
.person-container > .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-blob-5);
}
.person-container > .photo .bottom-right {
  z-index: 99;
  position: absolute;
  bottom: 0px;
  right: 3px;
  display: none;
}
.person-container > .photo .bottom-left {
  z-index: 99;
  position: absolute;
  bottom: 0px;
  left: 3px;
  display: none;
}
.person-container > .title {
  text-align: center;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  position: relative;
  max-height: 100%;
  /* NORMAL */
}
.book-list.normal .book-list-item {
  width: 165px;
}

.book-list-item {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 1em;
  /* PLACEHOLDER */
}
.book-list-item.placeholder .poster {
  background-color: #202020;
  min-height: 247px;
}
.book-list-item.placeholder .info .author {
  background-color: #202020;
  height: 1em;
  width: 7em;
  margin-bottom: 3px;
}
.book-list-item.placeholder .info .title {
  background-color: #202020;
  height: 1em;
  width: 4em;
}
.book-list-item .info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.book-list-item .info .title {
  color: var(--text-1);
  text-decoration: none;
  font-size: var(--font-size-2);
  margin-block: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.book-list-item .info .title:hover {
  text-decoration: underline;
}
.book-list-item .info .author {
  color: var(--text-2);
  text-decoration: none;
  font-size: var(--font-size-1);
  margin-block: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.book-list-item .info .author:hover {
  text-decoration: underline;
}

.item-view-container > .info-container {
  display: flex;
  flex-direction: row;
}
.item-view-container > .info-container > .poster {
  flex-shrink: 0;
}
.item-view-container > .info-container > .metadata-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.item-view-container > .info-container > .metadata-container > .metadata {
  flex-grow: 1;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}
.item-view-container > .info-container > .metadata-container > .metadata > .title {
  max-inline-size: var(--size-header-3);
}
.item-view-container > .info-container > .metadata-container > .metadata > .description {
  max-inline-size: var(--text-size-content-4);
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-view-container > .info-container > .metadata-container > .metadata > input.title {
  margin-bottom: 10px;
}
.item-view-container section {
  margin-top: 1em;
}
.item-view-container section h2 {
  margin-bottom: 0.25em;
}
.item-view-container .files-container {
  display: flex;
  flex-wrap: wrap;
}
.item-view-container .files-container > .file-item {
  display: block;
  width: calc(25% - 1em);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid transparent;
}
.item-view-container .files-container > .file-item:hover {
  border-color: var(--brand);
}
.item-view-container .posters-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: 10px 0px;
}
.item-view-container .posters-container .add-poster {
  width: 165px;
  height: 247px;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--brand);
  transition: border 0.25s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.item-view-container .posters-container .add-poster > span {
  text-align: center;
  width: 100%;
}
.item-view-container .posters-container .poster {
  flex-shrink: 0;
  margin: 0 3px;
  cursor: pointer;
}
.item-view-container .posters-container .poster.selected {
  cursor: default;
  border-width: 4px;
}
.item-view-container .authors-container,
.item-view-container .characters-container {
  display: flex;
  flex-direction: row;
}
.item-view-container .authors-container > .add-person,
.item-view-container .characters-container > .add-person {
  display: flex;
  align-items: center;
  transition: border 0.25s;
  padding: 0.5em;
  width: 10em;
  cursor: pointer;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--brand);
}
.item-view-container .authors-container > .add-person > span,
.item-view-container .characters-container > .add-person > span {
  text-align: center;
  width: 100%;
}
.item-view-container .authors-container > .person-item,
.item-view-container .characters-container > .person-item {
  display: flex;
  flex-direction: column;
  transition: border 0.25s;
  padding: 0.5em;
  width: 10em;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid transparent;
}
.item-view-container .authors-container > .person-item:hover,
.item-view-container .characters-container > .person-item:hover {
  border-color: var(--brand);
}
.item-view-container .authors-container > .person-item > .photo,
.item-view-container .characters-container > .person-item > .photo {
  position: relative;
  overflow: hidden;
  width: 9em;
  height: 9em;
}
.item-view-container .authors-container > .person-item > .photo img,
.item-view-container .characters-container > .person-item > .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-blob-5);
}
.item-view-container .authors-container > .person-item > .title,
.item-view-container .characters-container > .person-item > .title {
  text-align: center;
}

.login-container {
  flex-grow: 1;
}

button:not([disabled]).green,
.button:not([disabled]).green {
  --_text: var(--green-6);
  --_border: var(--green-4);
}
button:not([disabled]).red,
.button:not([disabled]).red {
  --_text: var(--red-6);
  --_border: var(--red-4);
}
button:not([disabled]).yellow,
.button:not([disabled]).yellow {
  --_text: var(--yellow-6);
  --_border: var(--yellow-4);
}

.label-group {
  display: flex;
}
.label-group > * {
  margin: 0 2px;
}

.label {
  padding: 3px;
  border-radius: var(--radius-2);
  background-color: var(--surface-1);
}
.label.green {
  background-color: var(--green-9);
}
.label.red {
  background-color: var(--red-9);
}
.label.yellow {
  background-color: var(--yellow-9);
}

.multi-selection {
  display: flex;
  position: relative;
  max-inline-size: var(--size-header-3);
}
.multi-selection.opened .dropdown {
  display: block;
}
.multi-selection .input {
  width: 100%;
  color: var(--text-1);
  background: var(--surface-1);
  padding: 0.75rem 0.75rem 0.375rem;
  outline-offset: 0px;
  cursor: text;
  overflow: hidden;
}
.multi-selection .input .chosen-list {
  display: inline-flex;
  flex-wrap: wrap;
}
.multi-selection .input .chosen-list .chosen-item {
  background: var(--brand);
  color: var(--gray-9);
  border-radius: 2rem;
  padding: 0.1rem 1rem;
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
  cursor: pointer;
}
.multi-selection .input .chosen-list .chosen-item:hover {
  background: var(--brand-1);
}
.multi-selection .input input {
  background: none;
  outline: none;
  min-width: 20%;
  cursor: text;
}
.multi-selection .dropdown {
  display: none;
  position: absolute;
  background: var(--surface-1);
  top: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.multi-selection .dropdown .dropdown-list {
  position: relative;
  padding: 2px;
  max-height: 300px;
  overflow: auto;
  will-change: scroll-position;
}
.multi-selection .dropdown .dropdown-list .list-item {
  padding: 0.3em 0.5em;
  cursor: pointer;
}
.multi-selection .dropdown .dropdown-list .list-item.hovering {
  background: var(--surface-2);
}

.navbar-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--surface-1);
  padding: 0px 10px;
  height: 3em;
  min-height: 3em;
}
.navbar-module > .left-content {
  display: flex;
  flex-direction: row;
}
.navbar-module > .center-content {
  position: relative;
  min-width: 40%;
}
.navbar-module > .center-content > .search-bar {
  display: flex;
}
.navbar-module > .center-content > .search-bar input {
  flex-grow: 1;
}
.navbar-module > .center-content > .search-dropdown {
  position: absolute;
  background-color: var(--surface-3);
  width: 100%;
  padding: 6px;
  z-index: 100;
  overflow-y: auto;
  max-height: 28em;
  margin-top: 8px;
}
.navbar-module > .center-content > .search-dropdown .search-item {
  display: flex;
  flex-direction: row;
  height: 7em;
  margin: 2px 0;
}
.navbar-module > .center-content > .search-dropdown .search-item:hover {
  background-color: var(--surface-2);
}
.navbar-module > .center-content > .search-dropdown .search-item .info {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 10px;
}
.navbar-module > .center-content > .search-dropdown .search-item .info .book-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.navbar-module > .right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-module > * > a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-1);
  text-transform: uppercase;
  user-select: none;
}

.button-popup-group {
  position: relative;
}

.popup {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2em 0;
}
.popup > .popup-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  max-height: 100%;
  min-width: 40%;
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
}

.popup-at-point {
  position: absolute;
  z-index: 50;
  min-width: max-content;
}

.popup-display {
  z-index: 50;
}

.popup-book-edit {
  width: 58%;
}
.popup-book-edit .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.popup-book-edit .content.edit-posters {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.popup-book-edit .content.edit-posters .drop-container {
  background-color: var(--surface-1);
  cursor: pointer;
  padding: 2em;
}
.popup-book-edit .content.edit-posters .poster-list {
  display: flex;
  flex-wrap: wrap;
}
.popup-book-edit .content.edit-posters .poster-list .poster {
  margin: 5px;
  cursor: pointer;
}

.external-book-search-popup > .external-book-search-container {
  overflow-y: auto;
}
.external-book-search-popup > .external-book-search-container > h2 {
  margin-bottom: 0.5em;
}
.external-book-search-popup > .external-book-search-container > .book-search-items {
  overflow-y: auto;
  background-color: var(--surface-1);
  margin-right: 10px;
}
.external-book-search-popup > .external-book-search-container > .book-search-items > .book-search-item {
  display: flex;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.external-book-search-popup > .external-book-search-container > .book-search-items > .book-search-item > img {
  height: 16em;
}

.popup-comparison-edit {
  width: 58%;
}
.popup-comparison-edit .body {
  overflow-y: auto;
}
.popup-comparison-edit .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.popup-comparison-edit .comparison-row > .row-grow {
  cursor: pointer;
  border-radius: var(--radius-2);
}
.popup-comparison-edit .comparison-row > .row-grow.selected > .label {
  border-left: 2px var(--brand) solid;
  border-right: 2px var(--brand) solid;
}

.comparison-row {
  display: flex;
  margin-bottom: 0.5em;
}
.comparison-row > .row-title {
  width: 12%;
  font-weight: bold;
  text-align: right;
  align-self: center;
  flex-shrink: 0;
}
.comparison-row > .row-shrink {
  flex-shrink: 1;
  padding: 4px;
}
.comparison-row > .row-grow {
  flex-grow: 1;
  padding: 4px;
  min-width: 44%;
  max-width: 44%;
}

.poster {
  position: relative;
  overflow: hidden;
  width: 165px;
  height: 247px;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid transparent;
  transition: border 0.25s;
}
.poster.large {
  width: 248px;
  height: 372px;
}
.poster.max-vertical {
  width: auto;
  height: 100%;
  aspect-ratio: var(--ratio-portrait);
}
.poster:hover {
  border-color: var(--brand);
}
.poster.selected {
  border-color: var(--brand);
}
.poster > .changing {
  --angle: 0grad;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.poster .top-left,
.poster .top-right,
.poster .bottom-left,
.poster .bottom-right {
  z-index: 99;
  display: none;
  position: absolute;
  cursor: pointer;
}
.poster:hover .bottom-left, .poster:hover .bottom-right, .poster:hover .top-left, .poster:hover .top-right {
  display: block;
}
.poster .top-left {
  top: 0px;
  left: 4px;
}
.poster .top-right {
  top: 0px;
  right: 3px;
}
.poster .bottom-right {
  bottom: 0px;
  right: 3px;
}
.poster .bottom-left {
  bottom: 0px;
  left: 3px;
}

.menu-list {
  background-color: var(--surface-1);
  user-select: none;
  cursor: pointer;
}
.menu-list > .menu-item {
  color: var(--text-2);
  font-size: var(--font-size-2);
  padding: 0px 1em;
  cursor: pointer;
}
.menu-list > .menu-item:hover {
  background-color: var(--surface-3);
  color: var(--text-1);
}

:root {
  --ratio-portrait: 0.668;
  --brand: var(--orange-3);
  --brand-1: var(--orange-4);
  --brand-2: var(--orange-2);
  --text-1: var(--gray-1);
  --text-2: var(--gray-3);
  --surface-1: var(--gray-9);
  --surface-2: var(--gray-8);
  --surface-3: var(--gray-7);
  --surface-4: var(--gray-6);
  --text-size-content-4: 80ch;
  height: 100%;
  width: 100%;
  background-color: var(--surface-2);
  color: var(--text-1);
  accent-color: var(--brand);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

.tab-bar {
  height: 3em;
  display: flex;
  flex-direction: row;
}
.tab-bar .tab-bar-item {
  background-color: var(--surface-1);
  cursor: pointer;
  padding: 5px;
}

/* EDITING ITEMS CONTAINER */
.editing-items-inside .book-list-item .poster .top-left {
  display: block;
}

/* CENTER DIV */
.center-normal {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.center-normal > .center-container {
  margin: auto;
}

.shrink-width-to-content {
  width: max-content;
}

.outer-view-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

.view-container {
  margin: 0.5em;
  flex-grow: 1;
  overflow-y: auto;
}
